.section-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}

.search-input {
  max-width: 150px;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: 1px solid #d1e25f;
}

.search-input:focus-visible {
  border: 1px solid #10b5d0;
  outline: none;
}

.master-detail {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 450px) {
  .search-input {
    padding: 0.7rem 1rem;
  }
}
