.result-list {
  margin: 0 auto;
  padding: 0;
  padding-inline-start: 0;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-basis: 60%;
  box-sizing: border-box;
  padding: 20px;
  border: 4px solid #d1e25f;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.result-item {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.char-image {
  width: 150px;
}

.single-column {
  flex-basis: 100%;
  max-width: 900px;
  padding: 20px;
  border: 4px solid #d1e25f;
  border-radius: 8px;
  transition: transform 0.2s ease;
}
